*.sqs linguist-language=SQF
*.sqm linguist-language=SQF
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.lip filter=lfs diff=lfs merge=lfs -text
. !text !filter !merge !diff
